.db-grid-tres-columnas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

@media (min-width: 768px) {
    .db-grid-tres-columnas {
        grid-template-columns: 1fr 2fr;
    }
}

.db-tarjeta-avance-general {
    background-color:#140d23;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.db-mini-tag {
    display: block;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #9ca3af;
    margin-bottom: 8px;
}
.db-contenedor {
    position: relative;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.db-barra-fondo {
    height: 8px;
    width: 100%;
    background-color: #24163d;
    border-radius: 9999px;
    overflow: hidden;
   

}
.db-barra-relleno {
    height: 100%;
    background-color: #8b5cf6;
    border-radius: 9999px;
    transition: width 0.3s ease;
}

.db-texto-central{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.db-porcentaje-numero {
    font-size: 1.875rem;
    font-weight: 900;
    color: #ffffff;
    line-height: 1;
}

.db-porcentaje-sub {
    font-size: 8px;
    color: #9ca3af;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4px;
}
